<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../frame/static/css/style.css">
    <link rel="icon" href="../frame/static/image/code.png">
</head>
<body>

<div class="login-main">
    <header class="layui-elip">后台登录</header>
    <form class="layui-form" >
    <!--<form class="layui-form" name="form" action="/login" method="post">-->

        <div class="layui-input-inline">
            <input type="text" name="username" required lay-verify="required" placeholder="邮箱" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-item">
        <div class="layui-input-inline login-btn">
            <button  class="layui-btn" lay-submit="" lay-filter="demo1">登录</button>
        </div>
        </div>



        <!--&lt;!&ndash;测试ajax提交>-->
        <!--<div class="layui-input-inline login-btn">-->
            <!--<button type="button" class="layui-btn" onclick="test()">点击事件</button>-->
        <!--</div>-->
        <hr/>
        <p><a href="javascript:;" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a></p>
    </form>




</div>


<script src="../frame/layui/layui.js"></script>
<script type="text/javascript">

    // layui.use(['form'], function () {
    //     var form = layui.form,
    //     $ = layui.jquery;
    //     form.on('submit(demo1)', function(data){
    //
    //         // var LoginDto;
    //         // var name = $('input[name="name"]').val();
    //         // var password = $('input[name="password"]').val();
    //
    //         var LoginDto = {};
    //         LoginDto.username =  $('input[name="username"]').val();
    //         LoginDto.password = $('input[name="password"]').val();;
    //         var param = JSON.stringify( LoginDto )
    //         $.ajax({
    //             type: "post",
    //             url: "/login",
    //             contentType:"application/json",
    //             data : param,
    //             success: function(data) {
    //                 console.log(data)
    //                 if (data.code == 0) {
    //                     location.href = 'main';
    //                 } else {
    //                     alert("失败lalalalalalalal");
    //                 }
    //             }
    //         });
    //         return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    //     });
    // });



    layui.use(['form'], function () {
        var form = layui.form,
        $ = layui.jquery;
        form.on('submit(demo1)', function(data){
            var username =  $('input[name="username"]').val();
            var password = $('input[name="password"]').val();;
            $.ajax({
                type: "post",
                url: "/login",
                data: {
                    "username": username,
                    "password": password
                },
                success: function(data) {
                    console.log(data)
                    if (data.code == 0) {
                        alert("厉害炸了");
                        // location.href = 'main';
                        location.href = ' http://localhost:8088/main';
                        // location.href = '厉害炸了';
                    } else {
                        alert("下一次就会成功的");
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


    // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
    // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
    // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}


    //对象赋值的
    // var params = {
    //     loginName:$("#loginName").val(),
    //     password:$("#password").val(),
    // }

    // 测试ajax提交
    // function test() {
    //     $.ajax({
    //         type: "get",
    //         url: "/user/list",
    //         dataType:"json",
    //         success: function(r) {
    //             console.log(r)
    //             if (r.code == 0) {
    //                 location.href = 'login';
    //                 alert("成功")
    //             } else {
    //                 alert("失败")
    //             }
    //         }
    //     });
    // }
</script>
</body>
</html>