<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
错误信息：<h4 th:text="${msg}"></h4>
<form action="/login" method="post">
    <p>账号：<input type="text" name="name" value="admin"/></p>
    <p>密码：<input type="text" name="password" value="123456"/></p>
    <p><input type="submit" value="登录"/></p>
</form>

<!--<p><input type="button" value="登录1"/></p>-->
<p><button onclick="add()">Copy Text</button></p>
</body>

<script type="text/javascript">

    function add() {
        console.log("测试开始")
        $.ajax({
            cache : true,
            type : "POST",
            url : "/login",
            data : {
                "name": 123,
                "password": 123123,
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }
</script>

</html>