<?xml version="1.0" encoding="UTF-8"?>

<configuration degug='false'>
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- Console 输出设置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


	<!-- 控制台输出 -->
	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
			<!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
			<!--<pattern>%d{MM-dd HH:mm:ss} %X{user} [%thread] %-5level-%logger{50} -%msg%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<!-- 按照每天生成日志文件,单个文件最大100，最多保留30天的,全部文件最大1G -->
 	<appender name="ALL_FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<file>log/mylog.txt</file> 
 		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"> 
			<FileNamePattern>${LOG_HOME}/all-%d{yyyy-MM-dd}.%i.log</FileNamePattern> 
			<maxFileSize>10MB</maxFileSize> 
			<maxHistory>10</maxHistory> 
 			<totalSizeCap>1GB</totalSizeCap> 
 		</rollingPolicy> 
 		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
 			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level- %X{user} %logger{50}-%msg%n</pattern>
 		</encoder>
 	</appender> 
	
	<appender name="ERR_FILE"
		  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<fileNamePattern>log/err-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!--日志文件保留天数 -->
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level- %X{user} %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="com.zaxxer" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.transaction" level="WARN" />
	<logger name="com.biqi" level="DEBUG" />
	<logger name="com.netflix" level="INFO" />
	<logger name="org.springframework.web.servlet.mvc" level="WARN" />

	<root level="${logLevel}">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="STDOUT" /> -->
		<appender-ref ref="ERR_FILE" />
	</root>
	
</configuration>







